<section class="content-header">
    <h1>
      Fornecedores<a href="#" class="btn btn-default pull-right">Novo</a>
    </h1>
  
  </section>
  
  <!-- Main content -->
  <section class="content container-fluid">
  
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Todos fornecedores</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="providers" class="display nowrap" width="100%">
          <thead>
            <tr>
              <th data-priority="1">Nome</th>
              <th>Tipo(s) de serviço(s)</th>
            </tr>
          </thead>
          <tbody>
              <tr><td><a href='#'>WA</a></td><td>Material - Manutenção</td></tr>
              <tr><td><a href='#'>Santana</a></td><td>Material</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
  </section>