<section class="content-header">
  <h1>
    Solicitações<a href="['/request/new']" class="btn btn-default pull-right">Novo</a>
  </h1>

</section>

<!-- Main content -->
<section class="content container-fluid">

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Todas solicitações</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="requests" class="display nowrap" width="100%">
        <thead>
          <tr>
            <th data-priority="1">Solicitação</th>
            <th>Status</th>
            <th>Equipamento(s)</th>
            <th>Responsável</th>
            <th>Chamado</th>
            <th>Data de solicitação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="admin-requests-request.html">00001</a></td>
            <td>Aberto <i class="fa fa-circle-o text-red pull-right"></i></td>
            <td>Mouse - Teclado</td>
            <td>David Coimbra</td>
            <td><a href="#">INC0056824</a></td>
            <td>04/06/2020</td>
          </tr>
          <tr>
            <td><a href="#">00002</a></td>
            <td>Aberto <i class="fa fa-circle-o text-red pull-right"></i></td>
            <td>Camera</td>
            <td>Lucas Silva</td>
            <td><a href="#">INC0056824</a></td>
            <td>04/06/2020</td>
          </tr>
          <tr>
            <td><a href="#">00003</a></td>
            <td>Aguardando retirada <i class="fa fa-circle-o text-orange pull-right"></i></td>
            <td>Suporte de notebook - Mouse - Teclado</td>
            <td>Bruno Marques</td>
            <td><a href="#">INC0056824</a></td>
            <td>03/06/2020</td>
          </tr>
          <tr>
            <td><a href="#">00004</a></td>
            <td>Aguardando devolução <i class="fa fa-circle-o text-orange pull-right"></i></td>
            <td>Notebook</td>
            <td>Peterson Ananias</td>
            <td><a href="#">INC0056824</a></td>
            <td>25/04/2020</td>
          </tr>
          <tr>
            <td><a href="#">00005</a></td>
            <td>Finalizado <i class="fa fa-circle-o text-green pull-right"></i></td>
            <td>Carregador de notebook</td>
            <td>Lucas Silva</td>
            <td><a href="#">INC0056824</a></td>
            <td>30/05/2020</td>
          </tr>
          <tr>
            <td><a href="#">00006</a></td>
            <td>Aberto <i class="fa fa-circle-o text-red pull-right"></i></td>
            <td>Desktop - Monitor - Teclado - Mouse</td>
            <td>David Coimbra</td>
            <td><a href="#">INC0056824</a></td>
            <td>04/06/2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</section>
