<!-- Content Header (Page header) -->
<section class="content-header" *ngFor="let category of category">
    <h1>
        {{category.name}}
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <form [formGroup]="categoryForm" novalidate>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Categoria</h3>
                <a (click)="onCancel()" class="btn btn-outline-dark btn-xs pull-right">Cancelar</a>
                <a (click)="onDelete()" class="btn btn-outline-danger btn-xs pull-right mr-md-3">Deletar</a>
                <button type="submit" class="btn btn-outline-info btn-xs pull-right mr-md-3" [disabled]="!categoryForm.valid" (click)="onUpdate()">Salvar</button>
            </div>
            <div class="box-body">
                <div class="col-md-12"  *ngFor="let category of category">
                    <app-input label="Nome" classLabel="col-md-1" classInput="col-md-7">
                        <input class="form-control" style="width: 80%" type="text" formControlName="name" name="name" [ngModel]='category.name' required minlength="3">
                    </app-input>
                </div>
            </div>
        </div>
    </form>

    <ng-template #deleteModal>
      <div class="modal-body text-center">
        <p>Deseja mesmo deletar essa categoria?</p>
        <button class="btn btn-info mr-md-3" (click)="confirm()">Sim</button>
        <button class="btn btn-dark" (click)='decline()'>Não</button>
      </div>
    </ng-template>
</section>
