
<div class="row">
<div [class]="classLabel">
        <span><h6>{{label}}</h6></span>
</div>
<div    class="form-group"
        [class]="classInput"
        [class.has-success]="hasSuccess()"
        [class.has-error]="hasError()"
        id="div-input">

    <ng-content></ng-content>

    <span class="help-block" *ngIf="hasSuccess()" [style]="styleConfig"><i class="fa fa-check"></i></span>
    <span class="help-block" *ngIf="hasError()" [style]="styleConfig"><i class="fa fa-remove"></i></span>

</div>

</div>
