<body class="text-center">
    <div class="login">
      <div class="col-xs-12 conteudo">
        <div class="logo">
          <img class="mb-4 logo" src="../../../assets/img/logo-mini.png">
        </div>
        <form>
          <h2>Estoque <b>HAOC</b></h2>
          <p></p>
          <div class="row">

          <input type="text" class="form-control" placeholder="E-mail">
          <input type="text" class="form-control" placeholder="Senha">

          <button type="submit" class="btn btn-light btn-lg" style="margin-top:15px; width: 100%">Entrar</button>

        </div>
        </form>
      </div>
    </div>
</body>
