<section class="content-header">
    <h1>
      Notas<a href="#" class="btn btn-default pull-right">Novo</a>
    </h1>
  
  </section>
  
  <!-- Main content -->
  <section class="content container-fluid">
  
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Todas notas</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="requests" class="display nowrap" width="100%">
          <thead>
            <tr>
              <th data-priority="1">Nota</th>
              <th>GPI</th>
              <th>Setor</th>
              <th>Equipamentos</th>
            </tr>
          </thead>
          <tbody>
              <tr><td><a href='#'>1608040</a></td><td>7418</td><td>Financeiro</td><td>Notebook - Monitor</td></tr>
              <tr><td><a href='#'>1710506</a></td><td>5848</td><td>TI</td><td>Desktop - Monitor</td></tr>
              <tr><td><a href='#'>1508086</a></td><td>6580</td><td>Centro Cirurgico</td><td>All In One</td></tr>
              <tr><td><a href='#'>1520665</a></td><td>3540</td><td>Financeiro</td><td>Notebook</td></tr>
              <tr><td><a href='#'>1608461</a></td><td>8018</td><td>FECS</td><td>Desktop</td></tr>              
          </tbody>
        </table>
      </div>
    </div>
  
  
  </section>