<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Novo Usuario
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

    {{form.valid}}
    {{form.value | json}}
    

    <form #form="ngForm" novalidate>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Usuário</h3>
                <a (click)="cancel()" class="btn btn-default btn-xs pull-right">Cancelar</a>
                <button type="submit" class="btn btn-default btn-xs pull-right" [disabled]="!form.valid">Salvar</button>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <app-input label="Nome" classLabel="col-md-1" classInput="col-md-11">
                        <input class="form-control" style="width: 60%" type="text" name="name" ngModel required minlength="3">
                    </app-input>
                    <app-input label="E-mail" classLabel="col-md-1" classInput="col-md-11">
                        <input class="form-control" style="width: 60%" type="email" name="email" ngModel required minlength="3">
                    </app-input>
                    <app-input label="Tipo de Usuário" classLabel="col-md-1" classInput="col-md-11">
                        <select class="form-control" style="width: 60%" id="empresa" name="empresa" ngModel required>
                            <option *ngFor="let user of users" [ngValue]="user.name">
                                {{user.name}}
                            </option>
                        </select>
                    </app-input>
                </div>
            </div>
        </div>
    </form>
</section>
