<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Novo Usuario
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <form [formGroup]="userForm" novalidate>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Usuário</h3>
                <a (click)="onCancel()" class="btn btn-light btn-xs pull-right">Cancelar</a>
                <button (click)="onSubmit()" type="submit" class="btn btn-default btn-xs pull-right" [disabled]="!userForm.valid">Salvar</button>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <app-input label="Nome" classLabel="col-md-3" classInput="col-md-9">
                        <input class="form-control" style="width: 80%" type="text" formControlName="name">
                    </app-input>
                    <app-input label="E-mail" classLabel="col-md-3" classInput="col-md-9">
                        <input class="form-control" style="width: 80%" type="email" formControlName="email">
                    </app-input>
                    <app-input label="Tipos de serviços" classLabel="col-md-3" classInput="col-md-9">
                      <select class="form-control" style="width:80%" formControlName="typeUser">
                        <option [ngValue]=0>-- Selecione --</option>
                        <option [ngValue]=1>Administrador</option>
                        <option [ngValue]=2>Comum</option>
                      </select>
                    </app-input>
                </div>
            </div>
        </div>
    </form>
</section>
