<section class="content-header">
    <h1>
        Manutenções<a href="/maintenance/new" class="btn btn-default pull-right">Novo</a>
    </h1>

</section>

<!-- Main content -->
<section class="content container-fluid">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Todos equipamentos em manuntenção</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="maintenances" class="display nowrap" width="100%">
                <thead>
                    <tr>
                        <th data-priority="1">Equipamento</th>
                        <th>Patrimonio</th>
                        <th>Serial Number</th>
                        <th>Chamado Interno</th>
                        <th>Chamado Externo</th>
                        <th>Data de abertura</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OPTPLEX 3020</td>
                        <td><a href="#">78090</a></td>
                        <td>8F51F5</td>
                        <td>INC0060577</td>
                        <td>52084</td>
                        <td>25/06/2020</td>
                        <td>Aguardando orçamento <i class="fa fa-circle-o text-orange pull-right"></i></td>
                    </tr>
                    <tr>
                        <td>OPTPLEX 390</td>
                        <td><a href="#">68970</a></td>
                        <td>95FG20</td>
                        <td>INC0062977</td>
                        <td>52850</td>
                        <td>04/06/2020</td>
                        <td>Aguardando retirada <i class="fa fa-circle-o text-red pull-right"></i></td>
                    </tr>
                    <tr>
                        <td>Latitude 3490</td>
                        <td><a href="#">82035</a></td>
                        <td>20DS25</td>
                        <td>INC0062522</td>
                        <td>56200</td>
                        <td>16/06/2020</td>
                        <td>Entegue ao solicitante <i class="fa fa-circle-o text-green pull-right"></i></td>
                    </tr>
                    <tr>
                        <td>OPTPLEX 3060</td>
                        <td><a href="#">82055</a></td>
                        <td>95F452</td>
                        <td>INC0058577</td>
                        <td>52084</td>
                        <td>30/06/2020</td>
                        <td>Aguardando entrega <i class="fa fa-circle-o text-orange pull-right"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</section>